# Set default behavior to automatically normalize line endings
* text=auto

# Declare files that will always have LF line endings on checkout
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
Procfile text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
requirements.txt text eol=lf 